body{
  padding-left: 160px;
  padding-right: 160px;
  background-color: whitesmoke;
}
p{
  font-family: Rubik;
}
.plan-section
{
  background-color: #F8F8F8;
  padding-top:50px ;
}
.map-section{
  padding-top: 50px;
}
.nav-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 40px 15px 0px 15px;
}
.about,
.features,
.pricing,
.testimonial,
.help{
  color: rgb(79, 86, 101);
  display: inline-block;
  padding-right: 40px;
  cursor: pointer;
}
.sign-in{
  display: inline-block;
  padding-right: 20px;
  cursor: pointer;
  font-size: 20px;
}
.button-sign-up{
  font-size: 20px;
  color: #F53855;
  background-color:white ;
  border: 1px solid #F53855;
  cursor: pointer;
  font-family: Rubik;
  width: 150px;
  height: 45px;
  top: 45.62px;
  left: 1140px;
  border-radius: 50px;
}
.header-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-top: 90px;
}
.top-header{
  font-weight: 500;
  line-height:45px ;
  font-size: 50px;
  line-height: 70px;
}
.span1{
  font-weight: bold;
}
.middle-header{
  font-size: 16px;
  line-height: 30px;
  margin-top: 20px;
  color:#4F5665;
  max-width:555px;
}
.bottom-button{
  margin-top: 35px;
  color: white;
  background-color: #F53838;
  border: 1px solid #F53838;
  border-radius: 10px;
  font-size: 15px;
  font-family: Rubik;
  font-weight: bold;
  width: 250px;
  height: 60px;
  cursor: pointer;
  box-shadow: 0px 32px 48px -22px rgb(245 56 56);
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 102px;
  margin-bottom: 95px;
  margin-right: 101.6px;
  margin-left: 101.6px;
  max-width: 1000px;
  box-shadow: 0px 32px 48px -22px rgb(245 245 245);
  line-height: 16px;
  padding: 0 15px ;
  vertical-align: baseline;
  border: 2px solid white;
  background-color: white;
  border-radius: 10px;
  width: 1000px;
}
.banner-photo{
  margin-right: 36px;
  padding-left: 80px;

}
.banner-word{
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color:  #4F5665;
  font-size: 20px;
  max-width: 555px;
  vertical-align: baseline;
  margin-top: 0;
  margin-bottom: 0;
}
.banner-number{
  font-weight: 700;
  font-family: Rubik;
  font-style: normal;
  font-size: 25px;
  line-height: 30px;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  
}
.right-border-banner{
  display: flex;
  border-right: 2px solid #eeeff2;
  height: 125.562px;
  padding-right: 130px;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  vertical-align: baseline;
}
.banner-div{
  display: flex;
  align-items: center;
  vertical-align: baseline;
  font-size: 16px;
  font-weight: 400;
  justify-content: space-between;
  line-height: 16px;
  margin: 0;
  padding: 0;
  
}
.features-photo{
  display: inline-block;
}
.features-section{
  display: flex;
  justify-content: center;
  vertical-align: top;
  align-items: center;
  margin-top: 90px;
  padding-bottom: 50px;
}
.right-side-features-section{
  margin-left: 150px;
}
.features-pargraph1{
  font-weight: 500;
  width: 383.41px;
  height: 100px;
  font-size: 35px;
  line-height: 50px;
  display: inline-block;
  margin-bottom: 10px;
}
.features-pargraph2{
  margin-top: 10px ;
  font-weight: 400;
  display: inline-block;
  color: #4F5665;
  font-size: 16px;
  width: 427.88px;
  height: 60px;
  line-height: 30px;
}
.marker{
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 1217.55px;
  left: 862.12px;
  
}
.marker-word{
  display: inline-block;
  color: #4F5665;
  font-size: 14px;
  line-height: 30px;
  vertical-align: baseline;
}
.plan-section{
  display: block;
  margin-bottom:150px;
  padding-top: 80px;
  /* border: 2px solid red; */
}
.plan-head {
  font-family: Rubik;
  font-weight: 500;
  line-height: 50px;
  font-size: 35px;
  text-align: center;
}
.plan-parg {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
  margin: 20px 265.3px 60px 265.3px;
  max-width: 555px;
  text-align: center;
}
.card-container {
  display: flex;
  justify-content: space-around;
  margin-left: 62.8px;
  margin-right: 62.8px;
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
}
.images {
  width: 144.9px;
  height: 165.363px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  display: inline-block;
  margin-left: 60px;
}
.card {
  background-color: white;
  text-align: center;
  width: 310px;
  height: 760px;
  border: 2px solid #DDDDDD;
  font-size: 16px;
  line-height: 16px;
  border-radius: 10px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.card:hover {
  border-color: #F53838;
}
.card-word {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
li::marker {
  content: url('images/chek-mark.png') ' ';
}
.check-mark-parg {
  color: #4F5665;
  display: inline-block;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-left: 0;
  font-family: Rubik;
  margin-right: 80px;
}
.plan-price1,
.plan-price2,
.plan-price3 {
  font-size: 25px;
  font-family: Rubik;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin-top: 150px;
}
.plan-price2 {
  margin-top: 107px;
}
.plan-price3 {
  margin-top: 62px;
}
.month-plan {
  color: #4F5665;
}
.plan-button {
  background-color: white;
  color: #F53838;
  border-radius: 50px;
  border: 2px solid #F53838;
  width: 177.88px;
  height: 45px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.96px;
  cursor: pointer;
  margin-left: 40px;
}
.plan-button:hover {
  background-color: #F53838;
  color: white;
}
.Map{
  text-align: center;
  width: 930px;
  height: 537.763px;
  max-width: 100%;
  display: flex;
  margin-left: 70px;
}
.map-head{
  font-family: Rubik;
  font-weight: 500px;
  line-height: 50px;
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.map-parg{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  color:#4F5665 ;
  margin-bottom: 100px;
}
.sponserd-container{
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  width: 1320px;
  height: 263px;
  border-radius: 10px;
}
.sponserd-head{
  font-size: 35px;
  font-weight: 500;
  font-family: Rubik;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
}
.sponserd-parg{
  color:#4F5665;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.reviews{
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 40px;
  justify-content: space-between;
}
.review-card{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 200px;
  border: 2px solid #DDDDDD;
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
  background-color: white;
}
.review-card:hover{
  border-color:#F53855;
}
.row1-review{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.col2{
  margin-left: 20px;
  line-height: 16px;
  margin-right: 93.3px;
}
.span2{
  color:#4F5665;
}
.row2-review{
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.sponserd-section{
  margin-top: 60px;
}
.buttons-section{
  /* border: 2px solid red; */
  margin-top: 35px;
  width: 1250px;
  height: 100px;
}
.right{
  vertical-align: top;
  align-items: center;
  float: right;
  cursor: pointer;
}
.left{
  vertical-align: top;
  align-items: center;
  float: right;
  margin-top: 30px;
  cursor: pointer;
}
.group{
  margin-top: 55px;
}
.End-section{
  border-radius: 10px;
  display: block;
  height: 233px;
  width:1144px;
  margin-top: 70px;
  margin-left: 3.6px;
  margin-right: 3.6px;
  /* border: 2px solid red; */
  padding-bottom: 70px;
}
.end-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  width: 1140px;
  height: 233px;
  border-radius: 10px;
  padding-bottom: 60px; 
  background-color: white;
}
.left-side{
  height: 116px;
  margin: 59px 67.5px 59px 67.5px;
  width: 410px;
  padding-bottom: 50px;

}
.end-parg1{
  width: 371.61px;
  height: 80px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  margin-right: 0px;
  font-family: Rubik;
}
.end-parg2{
  width: 410px;
  height: 16px;
  font-weight: 400;
  font-family: Rubik;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-right: 0px;
  max-width: 555px;
}
.right-side{
  margin: 59px 67.5px 59px 67.5px;
}
.end-button{
  border: 1px solid #F53838;
  box-shadow: 0px 32px 48px -22px rgb(245 56 56);
  align-items: center;
  background-color: #F53838;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  height: 60px;
  width: 250px;
  justify-content: center;
  line-height: 16px;
  margin-top: 50px;
}
.Footer-section{
  padding-top: 200px;
  /* border: 2px solid red; */
  width: 1280px;
  height: 350px;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  height: 270.4px;
  max-width: 960px;
  padding: 0 15px 0 15px;
  margin: 0px 93.6px 0px 93.6px;
}
.Fcol1{
  text-align: start;
  width: 340px;
  margin-right: 230px;
  margin-top: 20px;
}
.footer-parg{
  color:#4F5665 ;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  width: 340px;
  height: 61.57px;
}
.row3{
  display: inline-block;
  margin-bottom: 0px;
}
.row4{
  color: #AFB5C0;
  width: 132px;
  height: 30px;
  font-weight: 400;
  line-height: 30px;
  align-items: center;
  font-size: 16px;
  margin-top: 0px;
}
.Fcol2{
  display: inline-block;
  width: 74px;
  height: 280px;
  margin-right: 100px;
}
.Fcol3{
  display: inline-block;
  width: 123px;
  height: 280px;
  margin-right: 100px;
}
.Fcol4{
  display: inline-block;
  height: 120px;
  width: 121px;
}
.h4{
  font-size:18px ;
  font-weight:500 ;
  font-family: Rubik;
  line-height:30px ;
}
.rows-word{
  color: #4F5665;
}

